@model IEnumerable<practicaV1.Models.cHabitacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Habitacion</h1>

<p>
    <a asp-action="Create">Crear Habitacion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fkTipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fkTipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idHabitacion">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idHabitacion">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.idHabitacion">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
