@model IEnumerable<practicaV1.Models.cNacionalidad>

@{
    ViewData["Title"] = "Index";
}

<h1>Nacionalidad</h1>

<p>
    <a asp-action="Create">Crear Nacionalidad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nacionalidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nacionalidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idNacionalidad">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idNacionalidad">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.idNacionalidad">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
